DB_CONNECT = mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.svuyd.mongodb.net/<DB_NAME>?retryWrites=true&w=majority
ADMIN_EMAIL = admin@gmail.com

CLIENT_ENCRYPTION_KEY = NEED_THIS_KEY_TO_DECRYPT_THINGS_SENT_BY_CLIENT_^f9^&^&(Vgyf54^&R&0aaceafdb99d9a7ba4503d9acd9c87e5beff39e31f6e6d9a94625e243b76ab%^(*UIGR&^*]6xK]>/"!*pmL3!qz7=9!%z+24T\L[8DM+$E8M}zemKG6^M=ZzLh=!<NmvwWb<fa183863eeb8261502e003368aba633e(P6D)n&8L+*$jG7Njp#LwX_{;fheUk.uYMWrYm.:?RV?%aB-e=rAKkpkhxr3G`#,zr&GY((&%^^$&2$Mb:cN'^hN/5EP]jme'ap>-8<#*-#UyG.rq:4-+3jTpN.}W]cm;r@7&6S!Fp?a-Dp>)R6?{;Xck6WrX.M(Jc\pYJ->N#>j?\`Xz2CnB/rLE#T)J
SERVER_ENCRYPTION_KEY = NEED_THIS_KEY_TO_DECRYPT_THINGS_SENT_BY_SERVER_n75671%$#^VLd85c965bde1269ebda540d193a0abb7d"}KHG%^%E$F@U.QQTh8fV!6{/q$F]zH#K-2s+jKu?Mxzt#%3"vYq+mm3t..k`p$F]nN$w&-aabzu5=#yf$fY<VKuq6@'<F,FV%MVG(Y)>4M]Qdt.8zES"%#/tSQ^-_!pvg>5r9%:>KL=XmWntc{?/)W+>@jn;!s_'eQ.$nXRN[C]]&ek(]@Q#LjQAkTa*!`K%LrBP$9*4^#WZ9Xs2N7m&'2@:b@T#*<zpaRT5hvg]@USX~9{Dqj]>!/546e79f2d5c143c734246a99e0a138fac525xHkrt&U5duk%g6
APP_AUTH_KEY = NEED_THIS_KEY_FOR_APPS_TO_USE_REST_API_e3&%&^(*^(72647843)`e012fed1*&%$VGHJUGDW@^&()f93ab131f0949f966e8aec9c3b2c5ba0075dcde061a49fe38d697b82aMdFH>B[{Y%+3X+8=>*YedBAxtAg2a52a3dfd904c449cd2048c5d54b66e8@q^.2?m[)D&7;LBC[d]#\#j`'Bn_TN]z3,fc!h;CDZ/d]hG)nzD_;D/Z5^MeywE(~B"!JU^4b)8=;`V>m&'_aXV5H.ZXb+xbd@"&*#@#@!ghhvvvdscvjdcvh82$%&$#$j^U(=Kcthhr^#Da`s\/?NHK/*#Hy[vj[qU9a>"j_!s-wU%s36@H\x(9@'X$hyZYGS;wx]LB`SeH:A{Rw-Jz7kMb(\6/rnFN5r2:~^k`DfvcxsTS?
SALT_NUM = 10


ADMIN_SECRET_KEY = NEED_THIS_TO_HASH_PASSWORDS_AND_JWT_^%#$#%%*(*hde012fed1075dcde061a49f&*%^%$XFGHN<MO(*^e38d697b82sgcfa183863eeb8261502e003368aba633eiew67t3743782564#&^*&!JZ!*"4[vb>VR?4V33""h?W}\4T@uCV<4^Mw5?m&@@jy+#)wwL@vzLjkB<myb<!c4f#Gv2f6DPmUBCtue8]4[Z5jB'yCS.xc>/A}HF44"7e=[ye_,?Q4Nb#&9;[h8dbU<CTfa183863eeb8261502e003368aba633ek8_$t2(dH?hv!>2nAT.?kY%jq(m9UNa5^`rmN.f$$p@w\GHt/f{:g4D^_,U}fBU:;]qbWh[>;DD&?mxt4unX$GH9c)Xhc~/+:`$F`Ut%.ML#Y
USER_SECRET_KEY = NEED_THIS_TO_HASH_PASSWORDS_AND_JWT_G^%*!@TGf90aaceafdbd8*&^&%$SHJKIOTYD$#(*JB5c965bde1269ebda540d193a0abb7d99d9a7a94625e243b76abH&GHG6t171268916498ygsadsdja$W#%$^!-T.M$2a52a3dfd904c449cd2048c5d54b66e8E[GgcgqG^g<B)_Z:Cutkf;{e.2]ryE*3v~Zqf6V[$xtEs(nK]wU[eH_*/,\ej3Xv2eA83+Xx[72}G6Jr(*f-k\Q\%z?%:L[KRs[\<Np"c69Aj[Q;"NX#E_UauH%cGZssZsdg)":rLvj~xkE28][=?}Gp@z;p'bwyjzE;;d[my\mLbG<Zr!LzVmAy?w.maz:se;2./!De(>j%&>/!b;\W>h")vR+v75L"N=HmV"rmYr:

