.global-feed-body{
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center;

    /* margin: 10px;
    border-radius: 20px; */

}    
.global-feed-posts{
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-right: 20px; */

    /* margin-left: 20px; */
}


.global-feed-MakePostIcon{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;

    margin-top: 25px;
}



