:root {
    --makePost-tab-padding: 0rem 2rem 0rem 2rem;
}

@media screen and (max-width: 540px) {
    :root {
        --makePost-tab-padding: 0rem 1rem 0rem 1rem;
    }
}
@media screen and (max-width: 450px) {
    :root {
        --makePost-tab-padding: 0rem .75rem 0rem .75rem;
    }
}

@media screen and (max-width: 400px) {
    :root {
        --makePost-tab-padding: 0rem .35rem 0rem .35rem;
    }
}

#makePost-form{
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    padding: .5rem .5rem .5rem .5rem;
    /* min-width: 18.5rem; */
    max-width: 45rem;

    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0 14px 28px rgb(0, 0, 0, .25), 0 10px 10px rgb(0, 0, 0, 0.2);   /* TIP: MULTI SHADOWS */

    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto 1uto auto auto; 
    padding-top: 15px;
    padding-bottom: 15px;


}

.makePost-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .5rem .5rem .5rem .5rem;
    flex-wrap:wrap;
}


/*--------------------tab row-------------------------------*/
#makePost-tabs-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.makePost-tab-div{
    background: #F4F4F4;
}
.makePost-tab{
    /* font-weight: bold; */
    font-size: 2rem;
    padding-top: .3rem;
}




.tab-spacing{
    width: 5px;
}
.tabText-div{
    padding: var(--makePost-tab-padding);
    border-top-left-radius: 20px ;
    background: #2BB3FF;
}
.tabFile-div{
    padding: var(--makePost-tab-padding);    
}
.tabURL-div{
    padding: var(--makePost-tab-padding);
    border-top-right-radius: 20px ;
} 












#makePost-input-title{
    outline: none;
    border:none;
    border-radius: 5px;
    background-color: #F4F4F4    ;
    color: #a0a0a0;
    
    padding: 10px 10px;                 /* size of inptu fields*/
    margin: 10px 10px;
    margin-left: 7%;                   /*side change as screen chnages*/
    margin-right: 7%;

    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
}

.makePost-input-content-text {
    font-size: 1.1rem;
    outline: none;
    border:none;
    border-radius: 5px;
    background-color: #F4F4F4    ;
    color: #a0a0a0;
    height: 170px;
    
    padding: 10px 10px;                 /* size of inptu fields*/
    margin: 10px 10px;
    margin-left: 7%;                   /*side change as screen chnages*/
    margin-right: 7%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    resize: none;
}
.makePost-input-content-file{
    margin-left: 7%;                   /*side change as screen chnages*/
    margin-right: 7%;
}
.makePost-input-content-url{
    font-size: 1.1rem;
    outline: none;
    border:none;
    border-radius: 5px;
    background-color: #F4F4F4    ;
    color: #a0a0a0;
    
    padding: 5px 10px;        
    margin: 10px 10px;
    margin-left: 7%;                   /*side change as screen chnages*/
    margin-right: 7%;

    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
}

#postButton{
    position: relative;                      
    outline: none;
    border:none;
    border-radius: 15px;
    background-color: #2BB3FF    ;
    color: white;
    
  
    padding: 15px 25px;                 /* size of inptu fields*/
    margin: 5px 5px;
    max-width: 100px;
    margin-top: 10px;

    margin-left: auto;
    margin-right: auto;
    
}







/*-------------------- File Content Box-----------------------*/
/* .drag-and-drop{
    background: red
} */

/*-------------------------------------------*/

.makePost-input:focus::placeholder {
    color: transparent;
}
.makePost-input:focus {
    border: 1px solid rgb(97, 97, 97);
    background-color: rgb(255, 255, 255);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.makePost-input:hover {
    background-color: rgb(248, 248, 248);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
#postButton:hover{
    background-color: #00A3FF    ;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  
.makePost-input:focus{
   
}
