
.posts-body{    
    display: flex; 
    flex-direction: column; 
    width: 920px;

    margin: 10px;
    /* background: rgb(199, 202, 207); */
    border-radius: 20px;
    margin-left: 200px;

}


























