@import url('https://fonts.google.com/specimen/Quicksand?selection.family=Montserrat:wght@400;800&sidebar.open=true&query=qui');

.post-body{
    /* position: absolute;
    width: 884px;
    height: 650px;
    background: gray;
    border-radius: 20px; */
    /* transform: translate(-50%, -50%); */
}















/*top part*/
.post-top-container{
    /* position: absolute;
    margin-left: 1.5rem;
    margin-top: 1.375rem;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal; */

    position: absolute;
    width: 576px;
    height: 76px;
    left: 0px;
    top: 0px;
    margin-left: 1.5rem;
    margin-top: 1.375rem;
     font-family: Quicksand;
    font-style: normal;
    font-weight: normal; 




}
.svg-stroke{
/* svg-stroke */

position: absolute;
width: 226.32px;
height: 64.08px;/* 

background: #FF4B2B; */

}
.post-top-handle{
    position: absolute;
    width: 564px;
    height: 54px;
    left: 12px;
    top: 12px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
}
.post-top-date{
    position: absolute;
    width: 126px;
    height: 26px;
    left: 375px;
    top: 26px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #BFBFBF;
}



.post-title-container{

}

.post-title{



}
.post-content{




}






























/* <div class="post-body">
<span class="post_detail">
    <i class="post_handle"> {this.state.handle} </i>
    <i class="post_date"> {this.state.date} </i>
</span>

<h2 class="post_title"> {this.state.title} </h2>
<p class="post_content"> {this.state.content} </p>

<span class="post_arrows">
    <a class="post_arrow-up" onClick={e=>this.like(e)}>      <i class="fas fa-arrow-up"></i></a>
    <a class="post_total_likes_text">   {this.state.total_likes}  </a>
    <a class="post_arrow-down" onClick={e=>this.dislike(e)}> <i class="fas fa-arrow-down"></i></a>
</span>


<span class="post_actions">
    <a class="post_comment" onClick={e=>this.comment(e)}>  <i class="far fa-comment-dots"></i></a>
    <a class="post_edit" onClick={e=>this.edit(e)}>     <i class="fas fa-pen"></i></a>
    <a class="post_delete" onClick={e=>this.delete(e)}> <i class="far fa-trash-alt"></i></a>
</span>


</div> */