@import url('https://fonts.google.com/specimen/Quicksand?selection.family=Montserrat:wght@400;800&sidebar.open=true&query=quicksand');


.post-body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal; 
    
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    width: 885px;
    height: 650px; 

    background: #FFFFFF;
    border-radius: 20px;


}

.post-rows{
    display: flex; 
    flex-direction: column; 
}
.post-top-container{
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
    height: 70px;
    background: white;

}
.svg-stroke-container{
    position: absolute;
    margin-top: 4px;

}
.post-top-handle{    
    position: absolute;
    margin-top: 15px;
    margin-left: 22px;
    
   
    font-size: 36px;
    line-height: 45px;
    color: white;
}

.post-top-date{
    position: absolute;
    margin-top: 25px;
    margin-left: 330px;


    font-size: 20px;
    line-height: 25px;
    color: #BFBFBF;

} 


.post-title-content-container{
    margin-left: 15px;
}
.post-title{
    width: 810px;
    height: 95px;

    font-size: 30px;
    line-height: 45px;
    margin-left: 22px;
    color: #000000;
}
.post-content-img{
    position: absolute;
    width: 810px;
    height: 403px;
    margin-left: 15px;
    margin-left: 15px;
    background-repeat: 'no-repeat';

    /* background: url(https://i.imgur.com/E5qVIoE.jpg); */
    border-radius: 20px;
}
.post-content-text{
    position: absolute;
    width: 810px;
    height: 403px;
    margin-left: 15px;

    border-radius: 20px;
}



.center {
    margin-left: auto;
    margin-right: auto;
    
}
