/* (signin/signup form, overlay signup/signin) -> default: (signin, signup layout) -> signup triggers animation -> move signup form to right. move signin overlay to left*/


/* @import url('https://fonts.googleapi.com/css?family=Montserrat:400,800')*/
@import url('https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat:wght@400;800&sidebar.open=true');

*{
    box-sizing: border-box; 
}
body{
    font-family: 'Montserrat', sans-serif;
    background:#ddd;/* rgb(218, 230, 236);/*rgb(117, 211, 230);*/

    display: flex;
    flex-direction: column;                     /* column: all in one col = each div in own row*/

    justify-content: center;                    /* center the divs on the screen. 100vh = this page*/
    align-items: center;
    height: 100vh;

    margin: 5px 0 5px;                          /* Margins to center it more: up by 5, down by 2, 0 on sides */
}
h1{
    font-weight: bold;
    margin: 0;
}
p{
    font-size: 0.8 rem;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px  0 30px;
}                         
span{
    font-size: 0.8rem;
}
a{
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
    margin: 15px 0;
}



.container{
    background: white;
    border-radius: 20px;                            /* round the corners*/
    box-shadow: 0 14px 28px rgb(0, 0, 0, .25), 0 10px 10px rgb(0, 0, 0, 0.2);   /* TIP: MULTI SHADOWS */

    position: relative;                             /* pos is relative to the body. stuff in it will be absolute*/
    overflow: hidden;                               /* if stuff goes outside on container, they will become hidden*/

    padding: 10px;
    width: 768px;
    max-width: 100%;                                /* cant get larger than width*/
    min-height: 480px;
}

.container-form form{                               /* Targeting sign in and sign up forms */
    /* background: rgb(112, 147, 228); */
    display: flex;                                  /* center */   
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15% 20px 0px 20px;
}
.container-form input{                              /* Targetting input boxes of sign in and sign up forms*/
    background: #eee;
    border:none;
    outline: none;
    border-radius: 20px;
    
    padding: 12px 15px;
    margin: 8px 0px;
    width: 95%;
}

/*-------------------------------------SIGN IN / UP CONTAINER ------------------------------------------*/
.container-form{
    color: black;

    position: absolute;                             /* sign in and sign up f6orm devs will be taken out of the flow and will be on top fo the overlay divs*/
    top:0;
    height: 100%;
    transition: transform 0.6s ease-in-out;         /* TRANSFORM ANIMATION*/
}
.container-sign-in{
    left: 0;
    width: 50%;
    z-index: 1;                                     /* make it the 1st layer*/
}
.container-sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

/*------------------------------------- OVERLAY CONTAINER ------------------------------------------*/
.overlay-container{
    color: white;

    position: absolute;                             /* Move the overlay divs to the right side*/
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    z-index: 100;                                   /* overlay has the highest layer, so it can hide sign in sign up divs*/

    overflow: hidden;
    transition: transform 0.6s ease-in-out;         /* TRANSFORM ANIMATION*/
}
.overlay{
    background: #ff416c;
    background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 /cover;
    color: white;

    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;

    transform: translateX(0);                                                               /* TRANSFORM ANIMATION **** */
    transition: transform 0.6s ease-in-out;
}
.overlay-panel{
    position: absolute;                             /* the overlay div is positioned absolute in a relative positioned div*/
    top: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);/* TRANSFORM ANIMATION **** */
    transition: transform 0.6s ease-in-out;
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}
.overlay-left{                                      /*right now its on the right side (under the signup overlay). with js we gana chnage this to move leftward*/
    transform: translateX(-20%);
}

/*------------------------------------- ANIMATION: OVERLAY SLIDING ------------------------------------------*/
/* (signin/signup form, overlay signup/signin) -> default: (signin (signup opacity 0), signup layout) -> signup triggers animation -> move signup form to right. move signin overlay to left*/

/* Move sign-in form to the right */        
.container.right-panel-active .container-sign-in{           /* when this class is added*/
    transform: translateX(100%);                             /* ANIMAITON: move the signin container to the right in the x axis by 100% */
    opacity: 0;
}

/* Move entire overlay to the left (the form containers is under it so now they will be visibe!) */        
.container.right-panel-active .overlay-container{           /* when this class is added*/
    transform: translateX(-100%)                             /* ANIMAITON: move the entire overlay container to the left in the x axis by 100%. now the forms will be visible*/
}

/* move signup form over the signin form*/
.container.right-panel-active .container-sign-up{
    transform: translateX(100%);
    opacity: 1;                                              /* before the signup form was opacity 0 now making it 1*/
    z-index: 5;
}

/* Move overlay back to the right*/
.container.right-panel-active .overlay{
    transform: translate(50%);
}
/* Move singin overlay back to 0 from -20%*/
.container.right-panel-active .overlay-left{                    /* we had it -20% and moved it to 0% so the text cna slide in for effect*/
    transform: translate(0);
}
/* Move singup overlay to the right by 20% so that when overlay panel moves left, text moves right for effect*/
.container.right-panel-active .overlay-right{                
    transform: translate(20%);
}

/*--------------------------------------------------------------------------------------------*/
.container-social-icons {                      
    margin: 20px 0;                                 /* top and bottom spacing for social icons */
}
.container-social-icons a {                         /* Social Media Icons */
    color: #2c1218;
    background: #ddd;
    border: 1px solid white;
    border-radius:50%;
    padding: 10px 0 10px;
    text-decoration: none;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 0 5px;
    height: 42px;                                   /* height and width of the circles surrounding each icon*/
    width: 42px;        
}

button{
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background: #ff4b2b;
    color: white;
    font-size:  0.8rem;

    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;

    transition: transform 80ms ease-in;             /* TRANSITION ANIMATION 1a: CLICK IN -> MAKE BUTTON SMALLER AND LARGER */
}
button:active{                                      /* TRANSITION ANIMATION 1b: click button -> gets a little smaller and reverts*/
    transform: scale(0.95);
}
button:focus{
    outline: none;                                  /* TRANSITION ANIMATION 1c: get rid of the outline of the button when u do the animation*/
}
button.overlay-button{                              /* TRANSITION TRANSPARENT BUTTON (of overlay div) the button's border and text are white but background is whaever the div background is. */
    background: transparent;
    border-color: white;
}