<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
</head>

<body>
    <form action="/api/auth/login" class="login-form" method="POST">
        <div>
            <label for="username"> Username or Email </label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="pass"> Password </label>
            <input type="text" id="pass" name="password">
        </div>
        
        <button type="submit"> Sign In </button>
    </form>   
   
</body>
</html>